.section-projects {
  padding: 41px 0 23px;
  color: #202020;

  &__title {
    margin: 0;
    color: #202020;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 13px;
  }
}

.projects__wrapper--first {
  padding: 0;
  max-width: 1310px;
  display: none;
  grid-template-columns: repeat(3, minmax(191px, 1fr)) repeat(2,
      minmax(300px, 1.5fr));
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}

.projects__wrapper--second {
  padding: 0;
  max-width: 1310px;
  display: none;
  grid-template-columns: repeat(3, minmax(191px, 1fr)) repeat(2,
      minmax(300px, 1.5fr));
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}

.projects__wrapper--first.tab--1.active,
.projects__wrapper--second.tab--2.active {
  display: grid;
}

.projects__wrapper--second {
  display: none;
}

.projects__wrapper-item img {
  object-fit: cover;
}

.projects__wrapper-item {
  min-height: 100px;
  position: relative;

  & img {
    min-width: 100%;
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #202020;
  }
}

.projects__wrapper--second-item {
  position: relative;
}

.projects__wrapper-item:nth-child(4) {
  grid-column: 4/6;
  background-image: url("../../img/tab5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 22px 30px;
}

.projects__wrapper--second-item:nth-child(1) {
  grid-column: 1/4;
  padding: 22px 30px;
  color: #fff;
  background-image: url("../../img/tab2-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.projects__wrapper-item:nth-child(5) {
  grid-column: 1/4;
  background-image: url("../../img/tab4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 22px 30px;
}

.projects__wrapper--second-item:nth-child(7) {
  grid-column: 4/6;
  grid-row: 2/3;
  background-image: url("../../img/tab2-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.projects__wrapper--second-item:last-child {
  padding: 22px 30px;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// btns
.tabs__nav {
  max-width: 102px;
  margin: 0 auto;
}

.tabs__btn {
  transition: all 0.2s linear;
  cursor: pointer;
}

.tabs__btn.active {
  background-color: #ff6e30;
  color: #ffffff;
}

.tabs__btn:hover {
  color: #ff6e30;
}

.tabs__btn:focus-visible {
  background-color: #ffd4c1;
}

.tabs__btn.active:hover {
  background-color: #c4c4c4;
}

.tabs__btn {
  padding: 6px 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.tabs__btn:first-child {
  padding: 6px 13px;
  margin-right: 27px;
}

.tabs__btn.two .big-card {
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    max-width: 292px;
    margin-bottom: 5px;
  }
}

.big-card__text {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-width: 292px;
  margin-bottom: 60px;
}

.projects__wrapper-item:nth-child(4)>.big-card__text {
  margin-bottom: 54px;
}

.projects__wrapper-item:nth-child(4)>.date,
.projects__wrapper--second-item:nth-child(1)>.date,
.projects__wrapper--second-item:last-child>.date,
.projects__wrapper-item:nth-child(8)>.date {
  margin: 0;
  color: #fff;
  margin-bottom: 4px;
}

@mixin after {
  background-color: #333;
  padding: 7px 15px;
  display: block;
  position: absolute;
  right: 7px;
  top: 7px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  @media (max-width: 340px) {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding:7px 14px ;
}
}

.projects__wrapper-item:nth-child(5)::after {
  @include after();
  content: "#проектзабвение";
}

.projects__wrapper-item:nth-child(1)::after {
  @include after();
  content: "#пейзаж";
}

.projects__wrapper-item:nth-child(2)::after {
  @include after();
  content: "#портрет";
}

.projects__wrapper-item:nth-child(3)::after {
  @include after();
  content: "#предмет";
}

.projects__wrapper-item:nth-child(4)::after {
  @include after();
  content: "#fuji";
}

.projects__wrapper-item:nth-child(7)::after {
  @include after();
  content: "#портрет";
}

.projects__wrapper-item:nth-child(6)::after {
  @include after();
  content: "#ретушь";
}

.projects__wrapper--second-item:nth-child(1)::after {
  @include after();
  content: "#портрет";
}

.date {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: #999999;
  display: flex;
  align-items: flex-end;
}

.date svg {
  margin-right: 2px;
}

@media (max-width: 1380px) {
  .projects__wrapper--first {
    max-width: 100%;
    grid-template-columns: repeat(3, 31.5%) repeat(1, 60%) repeat(2, 30%) repeat(1,
        60%);
    grid-template-rows: repeat(3, 350px);
  }

  .projects__wrapper--second {
    max-width: 100%;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(3, 350px);
  }

  .projects__wrapper--second-item:nth-child(1) {
    grid-column: 1/ span 2;
    grid-row: 1/2;
  }

  .projects__wrapper--second-item:nth-child(2) {
    grid-column: 3/ span 1;
    grid-row: 1/2;
  }

  .projects__wrapper--second-item:nth-child(3) {
    grid-column: 1/ span 1;
    grid-row: 2/3;
  }

  .projects__wrapper--second-item:last-child {
    grid-column: 2/ span 2;
    grid-row: 2/3;
  }

  .projects__wrapper--second-item img {
    min-width: 100%;
    max-height: 220px;
    object-fit: cover;
  }

  .projects__wrapper-item:nth-child(1) img,
  .projects__wrapper-item:nth-child(2) img,
  .projects__wrapper-item:nth-child(3) img {
    max-height: 220px;
    object-fit: cover;
  }

  .projects__wrapper-item:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 2/3;
  }

  .projects__wrapper-item img {
    min-height: 184px;
  }

  .projects__wrapper-item:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 2/3;
  }

  .projects__wrapper-item:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3/4;
  }

  .projects__wrapper-item:nth-child(7) {
    grid-column: 1 / span 1;
    grid-row: 3/4;
  }
}

@media (max-width: 1024px) {
  .projects__wrapper--first {
    grid-template-columns: repeat(3, 31%) repeat(1, 60%) repeat(2, 30%) repeat(1, 60%);
    grid-template-rows: repeat(3, 300px);
  }

  .projects__wrapper--second {
    grid-template-columns: repeat(3, 30.5%);
    grid-template-rows: repeat(3, 300px);
  }

  .projects__wrapper--second-item img {
    max-height: 184px;

  }

  .projects__wrapper-item:nth-child(1) img,
  .projects__wrapper-item:nth-child(2) img,
  .projects__wrapper-item:nth-child(3) img {
    max-height: 184px;
  }
}

@media (max-width: 768px) {

  .projects__wrapper--first {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:max-content;
  }

  .projects__wrapper-item:nth-child(4) {
    grid-column: 1 / span 3;
    grid-row: 2/3;
  }

  .projects__wrapper-item:nth-child(6) {
    grid-column: 1/span 2;
    grid-row: 3/4;
  }

  .projects__wrapper-item:nth-child(6) img {
    max-height: 184px;
  }

  .projects__wrapper-item:nth-child(7) {
    grid-column: 3/span 1;
    grid-row: 3/4;
  }

  .projects__wrapper-item:nth-child(5) {
    grid-column: 1 / span 3;
    grid-row: 4/5;
  }

  .projects__wrapper--second {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:max-content;
  }

  .projects__wrapper--second-item:nth-child(1) {
    grid-column: 1/ span 3;
    grid-row: 2/3;
  }

  .projects__wrapper--second-item:last-child {
    grid-column: 1/ span 3;
    grid-row: 4/5;
  }

  .projects__wrapper--second-item:nth-child(6) {
    grid-column: 3/ span 1;
    grid-row: 1/2;
  }

  .projects__wrapper--second-item:nth-child(2) {
    grid-column: 1/ span 2;
    grid-row: 3/4;
  }

  .projects__wrapper--second-item:nth-child(3) {
    grid-column: 3/ span 1;
    grid-row: 3/4;
  }

  .projects__wrapper--second-item:nth-child(3) img {
    min-height: 184px;
    object-fit: cover;
  }
}

@media (max-width: 620px) {
  .section-projects__container {
    position: relative;
  }
  .section-projects {
    padding: 34px 0 23px;
    color: #202020;
}
  .section__title.section-projects__title{
    font-size: 18px;
    line-height: 23px;
  }
  .tabs__nav {
    position: absolute;
    right: 27px;
    top: 0;
  }

  .tabs__btn:first-child {
    margin-right: 10px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 14px;
  }
  .tabs__btn:last-child {
    font-size: 12px;
    line-height: 14px;
    padding: 4px 8px;
  }
  .projects__wrapper--first {
    grid-template-columns: fit-content(100%);
    grid-template-rows: max-content;
    margin-bottom: 0;
  }

  .projects__wrapper-item:first-child {
    grid-column: 1/span 3;
    grid-row: 1/2;
  }

  .projects__wrapper-item:nth-child(2) {
    grid-column: 1/span 3;
    grid-row: 2/3;
  }

  .projects__wrapper-item:nth-child(3) {
    grid-column: 1/span 3;
    grid-row: 3/4;
  }

  .projects__wrapper-item:nth-child(4) {
    grid-column: 1 / span 3;
    grid-row: 4/5;
  }

  .projects__wrapper-item:nth-child(6) {
    grid-column: 1/span 3;
    grid-row: 5/6;
  }

  .projects__wrapper-item:nth-child(7) {
    grid-column: 1/span 3;
    grid-row: 6/7;
  }

  .projects__wrapper-item:nth-child(5) {
    grid-column: 1 / span 3;
    grid-row: 7/8;
  }

  .projects__wrapper-item:nth-child(1) img,
  .projects__wrapper-item:nth-child(2) img,
  .projects__wrapper-item:nth-child(3) img {
    max-height: 350px;
  }

  .projects__wrapper-item.big-card {
    padding-top: 196px;
  }

  .projects__wrapper-item:nth-child(6) img,
  .projects__wrapper-item:nth-child(7) img {
    min-height: 240px;
    max-height: 240px;
  }

  .projects__wrapper-item:nth-child(5) {
    padding-top: 196px;
  }

  .projects__wrapper--second {
    grid-template-columns: fit-content(100%);
    grid-template-rows: max-content;
  }
  .projects__wrapper--second-item:nth-child(6){
    grid-column: 1/span 3;
    grid-row: 1/2;
  }
  .projects__wrapper--second-item:nth-child(6) img,
  .projects__wrapper--second-item:nth-child(4) img,
  .projects__wrapper--second-item:nth-child(5) img {
   min-height: 350px;
  }
  .projects__wrapper--second-item:nth-child(4){
    grid-column: 1/span 3;
    grid-row:2/3;
  }
  .projects__wrapper--second-item:nth-child(5){
    grid-column: 1/span 3;
    grid-row:3/4;
  }
  .projects__wrapper--second-item:nth-child(1){
    background-image: url('../../img/mobile1.jpg');
    padding-top: 196px;
    padding-bottom: 31px;
    grid-column: 1/span 3;
    grid-row:4/5;
  }
  .projects__wrapper--second-item:nth-child(2) {
    grid-column: 1/ span 3;
    grid-row: 5/6;
}
.projects__wrapper--second-item:nth-child(3) {
  grid-column: 1/ span 3;
  grid-row: 6/7;
}
.projects__wrapper--second-item:nth-child(7) {
  padding-top: 196px;
  grid-column: 1/ span 3;
  grid-row: 7/8;
  background-image: url('../../img/mobile2.jpg');
  object-fit: cover;
  
}

}
@media (max-width: 340px) {
  .tabs__nav {
    right: 20px;
    top: 0;
  }
  .projects__wrapper-item:nth-child(1) img,
  .projects__wrapper-item:nth-child(2) img,
  .projects__wrapper-item:nth-child(3) img {
    max-height: 184px;
  }
  .big-card__title{
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
  }
  .projects__wrapper-item:nth-child(4) > .big-card__text {
    margin-bottom: 10px;
}

}

