<!-- начало about -->
<section class="section-about" id='about'>
   <div class="container section-about__container">
    <h2 class="section-about__title section__title">О студии</h2>
    <div class="section-about__grid">
         <div class="section-about__item section-about__text">В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий  фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.</div>
         <div class="section-about__item">
              <picture>
               <source media="(max-width:600px)" srcset="../img/photo300.jpg">
               <source media="(min-width: 1000px)" srcset="../img/17.jpg">
               <img src="../img/17.jpg"  alt="Fallback value">
             </picture>
         </div>
         <div class="section-about__item"><form class="section-about__form">
            <h3 class="form__title">Подписаться на рассылку</h3>
            <input class="section-about__input" type="text" placeholder="E-mail">
            <button class="section-about__btn btn-orange">Отправить</button>
         </form></div>
   </div>
</section>
<!-- конец about -->