<!-- начало contacts -->
<section class="section-contacts" id='contacts'>
      <div class="container section-contacts__container">
      <h4 class="section__title section-contacts__title">Контакты</h4>
      <div class="section-contacts__wrapper">
      <div class="section-contacts__left">
         <div class="section-contacts__overlay">
            <button class="section-contacts__overlay--btn"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
               <rect x="1.20709" y="0.5" width="12" height="1" transform="rotate(45 1.20709 0.5)" fill="white"/>
               <rect x="0.59137" y="8.98535" width="12" height="1" transform="rotate(-45 0.59137 8.98535)" fill="white"/>
               </svg></button>
            <h4>Студия “High pass”</h4>
            <p class="section-contacts__overlay--text">107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж 8, офис № 82</p><p class="section-contacts__overlay--tel"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
               <g opacity="0.7">
               <path d="M18.3425 14.0983C17.215 14.0983 16.1242 13.915 15.1067 13.585C14.7858 13.475 14.4283 13.5575 14.1808 13.805L12.7417 15.6108C10.1475 14.3733 7.71833 12.0358 6.42583 9.35L8.21333 7.82833C8.46083 7.57167 8.53417 7.21417 8.43333 6.89333C8.09417 5.87583 7.92 4.785 7.92 3.6575C7.92 3.1625 7.5075 2.75 7.0125 2.75H3.84083C3.34583 2.75 2.75 2.97 2.75 3.6575C2.75 12.1733 9.83583 19.25 18.3425 19.25C18.9933 19.25 19.25 18.6725 19.25 18.1683V15.0058C19.25 14.5108 18.8375 14.0983 18.3425 14.0983Z" fill="white"/>
               </g>
               </svg>+7 (495) 42-423-532</p>
         </div>
      </div>
      <div class="section-contacts__right">
         <form action="" class="contact-form">
            <h4 class="contact-form__title">Оставить заявку</h4>
            <p class="contact-form__text">Оставьте ваши данные, указав в графе “Комментарий” желаемые время и дату съемки или другого мероприятия</p>
            <input class="contact-form__input" type="text" placeholder="Имя">
            <input type="text" class="contact-form__input" placeholder="E-mail">
            <textarea class="contact-form__textarea" name="" id="" cols="30" rows="10" placeholder="Комментарий"></textarea>
            <button class='btn-orange'>Отправить</button>
         </form>
      </div>
   </div>
   </div>
</section>
<!-- конец contacts -->