<section class="section-services" id='services'>
  <div class="container section-services__container">
    <h2>Услуги студии</h2>
    <div class="section-services__wrapper">
      <div class="section-services__left">
        <div class="tab2__btns">
          <div class="tab2__btn active" data-value="1">Основной перечень</div>
          <div class="tab2__btn" data-value="2">Услуги по ретуши</div>
        </div>
        <div class="tabs2">
          <div class="tab2 tab--1 active scroll">
            <div class="scroll__item">
              <img class="scroll__img" src="../img/services/1.jpg" alt="" />
              <div class="scroll__content">
                <h3 class="scroll__content-title">
                  Высокий уровень вовлечения
                </h3>
                <p class="scroll__content-text">
                  Высокий уровень вовлечения представителей целевой аудитории
                  является четким доказательством простого факта.
                </p>
                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="scroll__item">
              <img class="scroll__img" src="../img/services/3.jpg" alt="" />
              <div class="scroll__content">
                <h3 class="scroll__content-title">Диаграммы связей</h3>
                <p class="scroll__content-text">
                  Значимость этих проблем настолько очевидна, что реализация
                  намеченных плановых заданий влечет за собой процесс.
                </p>
                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="scroll__item">
              <img class="scroll__img" src="../img/services/2.jpg" alt="" />
              <div class="scroll__content">
                <h3 class="scroll__content-title">
                  Высокотехнологичная концепция
                </h3>
                <p class="scroll__content-text">
                  В частности, убеждённость некоторых оппонентов способствует
                  подготовке и реализации анализа существующих паттернов.
                </p>
                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="scroll__item">
              <img class="scroll__img" src="../img/services/4.jpg" alt="" />
              <div class="scroll__content">
                <h3 class="scroll__content-title">
                  Сложившаяся структура организации
                </h3>
                <p class="scroll__content-text">
                  Кстати, сторонники тоталитаризма в науке будут объединены в
                  целые кластеры себе подобных.
                </p>
                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="scroll__item">
              <img class="scroll__img" src="../img/services/5.jpg" alt="" />
              <div class="scroll__content">
                <h3 class="scroll__content-title">
                  Внутренние резервы и ресурсы
                </h3>
                <p class="scroll__content-text">
                  Банальные, но неопровержимые выводы, а также ключевые
                  особенности структуры проекта являются только методом.
                </p>
                <a>Подробнее<svg width="19" height="14" viewBox="0 0 19 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>

            <!-- tabs 2 -->
          </div>
          <div class="tab2 tab--2 retouch">
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Принимая во внимание показатели
                </h3>

                <a>Подробнее<svg width="19" height="14" viewBox="0 0 19 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-1.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Таким образом, выбранный нами...
                </h3>
                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-2.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Также как высокое качество...
                </h3>

                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-3.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Безусловно, семантический <span>разбор</span>...
                </h3>

                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-4.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Внезапно, предприниматели в интернете...
                </h3>

                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-5.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Есть над чем подумать: активные...
                </h3>

                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-6.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Сделанные на базе аналитики выводы...
                </h3>

                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-7.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Как принято считать, сторонники...
                </h3>

                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-8.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Задача организации, в особенности...
                </h3>

                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="retouch__item">
              <img class="retouch__img" src="../img/services/tabs2/R26-9.jpg" alt="" />
              <div class="retouch__content">
                <h3 class="retouch__content-title">
                  Активно развивающиеся страны...
                </h3>

                <a>Подробнее
                  <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3431 0.92888L18.7071 6.29284C19.0976 6.68336 19.0976 7.31653 18.7071 7.70705L12.3431 13.071C11.9526 13.4615 11.3195 13.4615 10.9289 13.071C10.5384 12.6805 10.5384 12.0473 10.9289 11.6568L15.5858 7.99995H1C0.447715 7.99995 0 7.55223 0 6.99995C0 6.44766 0.447715 5.99995 1 5.99995H15.5858L10.9289 2.34309C10.5384 1.95257 10.5384 1.3194 10.9289 0.92888C11.3195 0.538355 11.9526 0.538355 12.3431 0.92888Z"
                      fill="#FF6E30" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-services__right">
        <div class="section-services__promotions promotions">
          <div class="promotions__top">
            <h3 class="promotions__title">Акция!</h3>
            <p class="promotions__note">только в июне</p>
          </div>
          <div class="promotions__bottom">
            <img src="../img/services/20.png" alt="">
            <p class='promotions__price'>1,5 часа портретной съемки + ретушь 10 снимков</p>
            <button class="btn-orange">Узнать больше</button>
          </div>
        </div>
        <h4 class="section__title">Выполненные работы</h4>
        <div class="section-services__works works">
          <img class="works__img" src='../img/services/works/Rectangle28.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle29.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle30.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle32.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle33.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle34.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle36.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle37.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle38.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle40.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle41.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle42.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle43.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle44.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle45.jpg' alt="">
          <img class="works__img" src='../img/services/works/Rectangle46.jpg' alt="">
        </div>
      </div>
    </div>
  </div>
</section>
